<div id="container404">
    <h2 id="error-code">404</h2>
    <h1>Oh No, We couldn't Find your page</h1>
    <img id="cat"src="https://cataas.com/cat" alt="meow">

</div>


<style>
    #error-code {
        color: red;
        box-shadow: 12px 0px 14px 0px grey;
    }
    #container404 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        height: 100vh;
    }

    #cat {
        max-width: 300px;
    }
</style>