
<html lang="en" class="h-100">
  <head>
    {{> head}}
  </head>
  <body class="h-100 d-flex flex-column">
    {{> nav}}

    <main class="flex-grow-1">
      {{{body}}}
    </main>

    {{> footer}}


